<connectionStrings>
  <add name="FSIS_db"
       connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=FSIS_Database;Integrated Security=True;"
       providerName="System.Data.SqlClient"/>
  <!--AT HOME-->
  <!--<add name="FSIS_db"
       connectionString="Data Source=.;Initial Catalog=FSIS_Database;Integrated Security=True;"
       providerName="System.Data.SqlClient"/> NAIT-->
</connectionStrings>

